<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="./images/favicon-32.png" sizes="32x32">
  <link rel="icon" href="./images/favicon-48.png" sizes="48x48">
  <link rel="icon" href="./images/favicon-96.png" sizes="96x96">
  <link rel="icon" href="./images/favicon-144.png" sizes="144x144">
  <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
  {{ partial "javascript_head.html" .}}
  {{ $inServerMode := .Site.IsServer }}
  {{ $sass         := resources.Get "scss/styles.scss" | resources.ExecuteAsTemplate "style.styles.scss" . }}
  {{ $cssTarget    := "css/styles.css" }}
  {{ $cssOpts      := cond ($inServerMode) (dict "targetPath" $cssTarget "enableSourceMap" true) (dict "targetPath" $cssTarget "outputStyle" "compressed") }}

  {{ if or ($inServerMode) (eq .Site.Params.env "LOCAL") }}

  {{ $css := $sass | toCSS $cssOpts | resources.PostCSS }}
  <link rel="stylesheet" href="{{ $css.Permalink | absURL }}" media="screen">

  {{ else }}

  {{ $css := $sass | toCSS $cssOpts | resources.PostCSS | fingerprint }}
  <link rel="stylesheet" href="{{ $css.Permalink | absURL }}" integrity="{{ $css.Data.Integrity }}" media="screen">

  {{ end }}

  <title>{{ .Title }}{{ if ne .Title .Site.Title }} | {{ .Site.Title }}{{ end }}</title>
</head>